
#output {
    float: left;
}

#output2 {
    float: left;
}

#createcanditate {
    float: initial;
}

#messageOutput {
    text-align: center;
    border-style: solid;
    border-color: rgb(41, 104, 177);
    width: 50%;
    float: inherit;
}



#createForm {
    border-style: solid;
    border-color: rgb(121, 54, 117);
    width: 20%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffffff;
}