#body {
    margin-left:auto;
    margin-right:auto;
    color: #000000;
    width: 800px;
    justify-content: center;
  }

 

#messageOutput {
    border-radius: 25px;    
    background: rgb(238, 237, 252);
    text-align: center;
    width: 50%;
    float: left;
    
}

#createForm {
    border-radius: 25px;    
    background:  rgb(238, 237, 252);
    width: 20%;
    float: right;
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: center;
}
