#body {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    color: #FFFFFF;
    width: 800px;
    justify-content: center;
  }

 
#h3 {
    text-align: center;
}


#messageOutput {
    background: rgb(224, 222, 250);
    text-align: center;
    border-style: solid;
    border-color: rgb(171, 170, 247);
    width: 50%;
    float: left;
    
}

#createForm {
    background: rgb(171, 209, 209);
    border-style: solid;
    border-color: rgb(121, 54, 117);
    width: 20%;
    float: left;
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
}